html, body {
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
}

.App {
  display: -webkit-flex;
  display: flex;
  min-height: 100%;
}

.side-nav-container {
  position: fixed;
  background: #001f3f;
  color: #a6a6a6;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  font-size: 15px;
  font-weight: 600;
  padding: 20px 10px;
  -webkit-flex: 1;
  flex: 1;
  margin-bottom: 8em;
  width: 236px;
  max overflow-wrap: break-word;
  overflow-y: scroll;
  z-index: 1;
}

.content-container {
  margin: 0;
  background-color: #002B49;
  border-left: 1px solid black;
  -webkit-flex: 5;
  flex: 5;
  min-height: 100vh;
  width: 100vw;
  padding-left: 256px;

}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 6em;
  width: 100%;
  border: 1px solid black;
  background: #111622;
}

.content-header {
  height: 16em;
  background: linear-gradient(#111622, #002B49);
  position: relative;
}

.search-row {
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content:flex-end;
}

.search {
  border-radius: 20em;
  width: 3em;
  height: 2em;
  margin-left: 20px;
  align-self: center;
  margin-right: 400px;
  font-size: 15px;
}

.top-user-container {
  width: 30%;
  height: 60px;
  overflow: hidden;
  align-self: center;
  align-content: flex-end;
  display: flex;
  margin-right:7em;
}

.top-user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid grey;
}

.user-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-name {
  color: white;

}

.user-name-container {
  height: 60%;
  width: 60%;
  display: flex;
  align-items: center;
  margin-left: 1em;
  font-size: 18px;
  font-weight: 300;
  color: white;

}

.logout {
  margin-left: 20px;
  color: grey;
}

.tags {
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 3px;
}

.library {
  margin-top: 20px;
}
.library:hover{
  color:white;
}

.library-container {
  margin-top: 2em;
  margin-left: 1em;
  width: 236px;
}


.playlist-container {
  margin-top: 2em;
  margin-left: 1em;
  height: 100vh;
}

.playlist {
  margin-top: 20px;

}
.playlist:hover{
  color:white;
}



.choices-container {
  position: absolute;
  color: white;
  font-size: 26px;
  bottom: 0;
  left: 30px;
  width: 92%;
  padding-left: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.filter-choices {
  width: 70%;
  background: #002B49;
  border: none;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  border-radius: 3px;
}

.filter-choices:focus {
  width: 70%;
  background: #b3d1ff;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  height: 40px;
  border-radius: 3px;
}

.artist-main-container {
  margin-left: 45px;
  color: white;
  width: 92%;
}

.fa-search {
  color: grey;
  margin-right: 10px;
}

select {
  width: 10em;
  font-size: 20px;
  background: white;
  color: grey;
}

.artist-circles-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.circle-container {
  width: 300px;
  height: 300px;
  margin-left: 70px;
  text-align: center;
  padding-bottom: 10em;
}

.artist-circles {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

h3 {
  color: white;
}

.artist-description {
  color: grey;
  font-weight: 300;
  font-size: 18px;
}

.artist-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.artist-page-container {
  margin: 0;
  background-color: #002B49;
  border-left: 1px solid black;
  -webkit-flex: 5;
  flex: 5;
  min-height: 100vh;
  padding-left: 256px;
  width: 100vw;
  padding-bottom: 120px;
}

.content-header-individual {
  height: 350px;
  background: linear-gradient(#111622, #002B49);
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}



.artist-image-individual {
  border: 1px solid white;
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.individual-text {
  display: inline-block;
}

.individual-artist-container {
  display: flex;
  align-items: baseline;
  height: 270px;
  width: 78%;
  margin-left: 20px;
  border-bottom: 1px solid #B99943;
}

.large-text {
  font-size: 5vw;
  color: white;
  padding: 30px;
}

.individual-albums-container {
  width: 76%;
  margin-left: 44px;
  padding-top: 35px;
}

.individual-album-container {
  height: 170px;
  display: flex;

}

.album-image-container {
  width: 170px;
  border:1px solid white;


}

.album-image-container-text {
  width:inherit;
  height: 170px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  color:#B99943;
  letter-spacing: 2px;
  word-spacing: -4px;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  padding-left: 30px;


}

.song-list-items-container {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  color: #C2C0BB;
}

.spacer {
  height: 25px;
  border-bottom: 1px solid #B99943;
  width: 100%;
}

.spacer-number {
  width: 60px;
  height: 100%;
  border-right: 1px solid grey;
}

.spacer-title {
  height: 50px;
  border-bottom: 1px solid #B99943;
}

th, td, tr {
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #B99943;
}


.time {
  text-align: right;
  padding-left: 100px;
}

.price {
  text-align: right;
}

.add {
  text-align: left;

}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  height: 45px;
}

.bang {
  font-size: 20px;
  margin-left: 20px;
  color: grey;
}

.bang:hover {
  color: white;
}

.list-add {
  text-align: left;
  padding-left: 15px;
}
.add{
  width: 130px;
}

.list-title {
  color: white;
  font-size: 16px;
  font-weight: 300;
}

.list-time {
  text-align: right;
  padding-left: 100px;
  font-size: 16px;
  font-weight: 300;
}

.list-price {
  font-size: 16px;
  font-weight: 300;
  text-align: right;
}

.list-number {
  font-size: 16px;
  font-weight: 300;
}

.artist-cover-image {
  width: 100%;
  height: 100%;
}

.artist-image-header {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.top-user-picture-cart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.user-image-cart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
}

.content-header-cart {
  height: 350px;
  background: linear-gradient(#111622, #002B49);
  padding-left: 25px;
  padding-right: 25px;
  justify-content: center;
  align-items: center;

}

.user-name-container-cart {
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 300;
}

.cart-body-container {
  margin: 0;
  background-color: #002B49;
  border-left: 1px solid black;
  -webkit-flex: 5;
  flex: 5;
  min-height: 100vh;
  padding-left: 256px;
  width: 100vw;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-outline {
  border: 1px solid grey;
  height: 800px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B99943;
  border-radius: 3px;
}

.cart-container {
  height: 98%;
  width: 98%;
  background: #002640;
  border-radius: 5px;
  color: #B99943;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  display: block;
  text-align: center;
}

.cart-title {
  font-size: 33px;
  font-weight: 300;
  letter-spacing: 3px;
  width: 85%;
  text-align: center;
  display: inline-block;
}

.column-labels {
  width: 85%;
  border-bottom: 1px solid #B99943;
  display: inline-block;
  text-align: left;
  color: #FAFAFA;
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  font-weight: 300;
}

.song-title {
  align-self: flex-start;
  margin-right: 190px;
  margin-left: 120px;
}

.song-quanitity {
  margin-right: 60px;
}

.cart-list {
  width: 85%;
  height: 50px;
  display: inline-block;
  line-height: 50px;
}

.cart-item-image {
  float: left;
  height: 100%;
  width: 120px;
  text-align: left;

}

.cart-item-title {
  width: 230px;
  float: left;
  height: 100%;
  text-align: left;

}

.cart-item-quanitity {
  float: left;
  height: 100%;
  text-align: left;
}

.cart-item-price {
  text-align: right;
  float: right;
  width: 112px;
  height: 100%;
}

input {
  width: 20px;
  font-size: 14px;
  font-weight: 600;
}

tr:hover{
  background:#E09321;
}
.table-row:hover{
  background: #002B49;
}

.login-body-container{
  margin: 0;
  background:url("./royalJWF.png") no-repeat center ;
  background-size:cover;
  border-left: 1px solid black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.login-background-image{
  width: 100%;
  height:100%;
}
.login-button-container{
  width: 400px;
  height:100px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.login-button{
  background: #B99943;
  border:none;
  width: 160px;
  height:40px;
  margin-right: 10px;
  color:white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  text-decoration: none;
}
.register-button{
  background: #B99943;
  border:none;
  width: 160px;
  height:40px;
  margin-left: 10px;
  color:white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
  transition: all ease-in-out 300ms;
  text-decoration: none;
}

.register-button:hover{
  background: #002B49;

}
.login-button:hover{
  background: #002B49;
}
.login-page-title{
height: 200px;
width: 500px;
padding: 15px;
margin-top: 7em;
color:#002B49;
text-align: center;
font-size: 28px;
font-weight: 600;
word-spacing: 6px;

}






.form-container-register {
    border: 2px solid #B99943;
    position: absolute;
    bottom:40%;
    width: 500px;
    border-radius: 4px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
}






/* Bordered form */
.form-container {
    border: 2px solid #B99943;
    position: absolute;
    bottom:40%;
    width: 500px;
    border-radius: 4px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
}

/* Full-width inputs */
input[type=text], input[type=password] {

}

/* Set a style for all buttons */
button{
    background-color: #B99943;
    color: white;
    padding: 14px 20px;
    margin:0 auto;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;

}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  z-index: 4;
  background-color:#002B49;
  height: 100%;
  color:white;

}

/* The "Forgot password" text */
.psw {
    float: right;
    padding-top: 16px;
    text-decoration: none;
}
.NickTag{
  text-decoration: none;
  color:#FAFAFA;
}

.cart-total{
  text-align: left;
  height:45px;
  width: 100%;
}
.tax{
  text-align: center;
  font-size: 20px;


}


.individual-search {
  border-radius: 20px;
  width: 20em;
  height: 25px;
  margin-right: 42em;
  font-size: 15px;

}

.form-container {
    border: 2px solid #B99943;
    position: absolute;
    bottom:40%;
    width: 500px;
    border-radius: 4px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
}

.checkout-wrapper{
  z-index: 3;
  width: 500px;
  margin: 0 auto;
  color:#002B49;
  background-color: white;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  position: absolute;
  top:5%;
  left: 30%;
  border-radius: 5px;
  padding: 20px;

}
.thead:hover{
  background: white;
}
.trow{
  height:60px;
}
.table-wrapper{
  margin-top: 2em;
}

.table-container{
  border-top: 2px solid grey;
}
.subtotal{
  height:35px;
  border-bottom: 1px solid #B99943;
}
.total-tax{
  height:35px;
  border-bottom: 1px solid #B99943;
}
.grandtotal{
  height:55px;
  border-bottom: 1px solid #B99943;
  line-height: 55px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.grand{
  margin-right: 5em;
}
.total-g{
  margin-right: 5px;
}
.thead-row-price{
  text-align: right;
  margin-right: 5em;
}
.thead-row-qty{
  width: 14em;
}
.thead-row-song{
  width: 24em;
}
.thead-row-delete{
  width: 120px;
}

.subtotal{
  border-bottom: 1px solid #B99943;
  line-height: 55px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.sub{
  margin-right: 3em;
}
.sub-t{
  margin-right: 5px;
}

.total-tax{
  border-bottom: 1px solid #B99943;
  line-height: 55px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.total{
  margin-right: 57px;

}

.total-t{
  margin-right: 5px;
}
.trash{
  margin-left: 50px;
}

.logo-wrapper{

  height: 150px;
  width: 250px;
  margin: 0 auto;
  padding-top: 20px;
  background: url("roy.png") no-repeat top left;
  background-size:cover;
}

.logo-bam{
  height: 100vh;
  width: 100vh;
}

.text{

  height: 100px;
  font-family: cursive;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.popular-route{
  text-decoration: none;
  color: grey;
}

.popular-route:hover{
  color:white;
}


.smaller{
  max-width: 10em;
  position: absolute;
  left: 3em;
}

.login-input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;
}
.font{
  font-size: 15px;
}
.prices{
  text-align: right;
  font-size: 15px;
}
.overlay{
  background-color:#001A3F5F;
  height: 100%;
  width: 100%;
  opacity: .95;
  position: fixed;
  z-index: 40;


}

.wrapper{
  height: 100vh;
  width: 100vw;
}

.exit-btn{
  height: 50px;
  width: 50px;
  z-index: 28;
  top: 22%;
  left:62%;
  border-radius: 50%;
  color:white;
  background-color: #B99943;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0 0 2px 1px black;
  font-size: 20px;
  position:fixed;
}
.exit-btn:hover{
  background-color: #002B49;
}

.fa-trash{
  margin-left: 10px;
}

.background-container{
  background-color: #002B49;
  width: 100vw;
  min-height: 1200px;
  overflow-y: auto;
}

.back-btns{
  text-decoration: none;
}

#secret{
  margin-top: 3em;
  text-align: center;
}
.token-text{
  text-align: center;
  font-size: 60px;
  font-family: cursive;
}
